body {
  background: #f2f7fb;
  height: 100vh;
}

.nav {
  background: #101010;
  display: flex;
  justify-content: space-between;
  /* margin: 70px 20px; */
}

.logo {
  margin: 20px 70px;
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 70px;
  cursor: pointer;
}

.official-logo {
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 50px 0 0 70px;
}

.official-logo h2 {
  color: #000;
  font-family: "SUIT Medium";
  font-size: 21px;
  font-weight: 400;
  line-height: normal;
}

.official-logo img {
  width: 55px;
  height: 45px;
}

.head {
  display: flex;
  gap: 110px;
  align-items: center;
  margin: 50px 0 0 70px;
}

.head h3 {
  color: #000;
  font-family: "SUIT Medium";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

.head img {
  cursor: pointer;
}

/* Youtube-Overall */

.data-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0 20px 0;
}

.card {
  width: 70%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 9px 11px 29.3px 0px rgba(0, 0, 0, 0.25);
}

.data-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 45px;
}

.data-field .data-title,
.data-field .date {
  color: #000;
  font-family: "SUIT Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.data-field .count {
  color: #0c2689;
  font-family: "SUIT Medium";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 20px 0;
}

.data-type img {
  width: 100px;
  height: 100px;
}
