:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.login-background {
  background: linear-gradient(
    180deg,
    #101010 46.4%,
    #101010 51%,
    #f2f7fb 51.01%
  );
  height: 100vh;
}

.title {
  display: flex;
  gap: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -550%);
}

.title-sec-one {
  display: flex;
  gap: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 348.19px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(43, 43, 43, 0.1),
    0px 11px 6px -7px rgba(43, 43, 43, 0.1);
  position: fixed; /* Keep the modal fixed */
  top: 50%;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  gap: 36px;
}

.form-head h2 {
  color: #101010;
  text-align: center;
  /* font-family: "SUIT Variable"; */
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.6px;
  margin: 20px 0 0 0;
}

.form-head p {
  color: #6c757d;
  text-align: center;
  /* font-family: "SUIT Variable"; */
  font-size: 13.891px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  margin: 12px 0 0 0;
}

.form-input {
  margin: 0 20px;
}

.form-input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.form-input-field input {
  border: none;
  border-bottom: 0.6px solid #ccc;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.form-input-field input:focus {
  outline: none;
}

.remember-check {
  display: flex;
  align-items: center;
}

.remember-check input {
  margin: 0;
}

.rem {
  color: #101010;
  /* font-family: "SUIT Variable"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.submit {
  border-radius: 4px;
  border: 1px solid rgba(141, 161, 231, 0.07);
  background: #101010;
  padding: 7.5px 0;
  margin-top: 24px;
  cursor: pointer;
}

.submit span {
  color: #fff;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
